.gamesCard{
    background-image: url(../../../assets/GameImages/qrgamewebsiteassets/Game\ Label.png);
    background-size: 100% 100%;
    height: 18rem;
    width: 15.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}
.valuesName{
    position: absolute;
    top: -2.3vh;
    font-size: 0.75rem;
    font-weight: 400;
    font-family: "Lilita One", sans-serif;
    color:#fff;
    
}
.valuesNameMobile{
    position: absolute;
    top: -1.5vh;
    font-size: 0.5rem;
    font-weight: 400;
    font-family: "Lilita One", sans-serif;
    color:#fff;
    
}
.innerLayer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0.7em;
    height: 14rem;
    width: 13rem;
    position: relative;
   


}

.innerLayerDeactive{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0.7em;
    height: 14rem;
    width: 13rem;
    position: relative;
    background: rgba($color: #ff9751, $alpha: 0.6);
    z-index: 2;
  
    opacity: 0.7;
    background-size: 100% 100%

}
.gameLogo{
    height: 6rem;
    width: 8rem;
}
.playBtn{
    width: 8rem;
    height: 3rem;
    cursor: pointer;
}
.scoreIcon{
    height: 1.5rem;
    width: 1.5rem;
}
.scoreText{
    font-size: 1rem;
    color: #BF5500;
    cursor: pointer;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    text-decoration: underline;
}


// BackCard Css
.crossBtn{
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 100%;
    background: #004E73;
    color: #ffff;
    display: flex;
    position: absolute;
    top: 1vh;
    right: 1vw;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    
}
.userName{
    color: #004E73;
    font-size: 1.2rem;
    font-family: "Inter", sans-serif;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 600;
    // width: 2ch;

}
.scoreContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1rem;
}
.score{
    // height: rem;
    width: 9rem;
    background: #004E73;
    color: #ffff;
    border-radius: 30px;
    display: flex;
    line-height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4%;
    font-size: 1.3rem;
  
    justify-content: center;
    font-family: "Inter", sans-serif;
    .scoreTextBtn{
        color: #FFDFA3;
        font-size: 1rem;
    }

}

@media only screen and (min-width: 1200px) {
    .mobile-view{
      display: none !important;

    }
  }

  @media screen and (min-width:270px) and  (max-width:1200px) {
    
    .web-view{
      display: none !important; 

    }
    .ExcitementModal{
        // background: url(../../../assets/GameImages/qrgamewebsiteassets/Coming\ Soon.png);
        background-size: 100% 100%;
        background-position: center center;
        height: 40vh;
        width: 100%;
        
    }
  }

  .gamesCardMobile{
    background-image: url(../../../assets/GameImages/qrgamewebsiteassets/Game\ Label.png);
    background-size: 100% 100%;
    height: 12rem;
    width: 45vw;
    display:flex;
    justify-content: center;
    align-items: center;
  }
 
  .innerLayerMobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10rem;
    width: 42vw;
    gap:0.5em;
  
    z-index: 2;
  
    background-size: 100% 100%;
    position: relative;
    .gameLogo{
        height: 4rem;
        width: 6rem;
    }
    .playBtn{
        width: 6rem;
        height: 2rem;
    }
    .scoreText{
        font-size: 0.8rem;
        color: #BF5500;
        cursor: pointer;
        font-weight: bold;
        font-family: "Inter", sans-serif;
        text-decoration: underline;

    }
    .userName{
        color: #004E73;
        font-size: 1rem;
        font-family: "Inter", sans-serif;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-weight: 600;
    }

    .score{
        width: 6rem;
        background: #004E73;
        color: #ffff;
        border-radius: 30px;
        display: flex;
        line-height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 4%;
        font-size: 1rem;
      
        justify-content: center;
        font-family: "Inter", sans-serif;
        .scoreTextBtn{
            color: #FFDFA3;
            font-size: 0.8rem;
        }

    }
    

  }
  .innerLayerDeactiveMobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10rem;
    width: 42vw;
    gap:0.5em;
    background: rgba($color: #ff9751, $alpha: 0.5);
    z-index: 2;
    opacity: 0.7;
    background-size: 100% 100%;
    position: relative;
    .gameLogo{
        height: 4rem;
        width: 6rem;
    }
    .playBtn{
        width: 6rem;
        height: 2rem;
    }
    .scoreText{
        font-size: 0.8rem;
        color: #BF5500;
        cursor: pointer;
        font-weight: bold;
        font-family: "Inter", sans-serif;
        text-decoration: underline;

    }
    .userName{
        color: #004E73;
        font-size: 1rem;
        font-family: "Inter", sans-serif;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-weight: 600;
    }

    .score{
        width: 6rem;
        background: #004E73;
        color: #ffff;
        border-radius: 30px;
        display: flex;
        line-height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 4%;
        font-size: 1rem;
      
        justify-content: center;
        font-family: "Inter", sans-serif;
        .scoreTextBtn{
            color: #FFDFA3;
            font-size: 0.8rem;
    
    
        }

    }
    

  }

//   Back card

  .crossBtnMobile{
    height: 0.8rem;
    width: 0.8rem;
    border-radius: 100%;
    background: #004E73;
    color: #ffff;
    display: flex;
    position: absolute !important;
    top: 2.5vh !important;
    right: 4.5vw;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    
}


