
    <div class="gamesCard web-view">
        <div [ngClass]="gamesData?.enable_status==1?'innerLayer':'innerLayerDeactive'">
            <div *ngIf="isFrontView;then frontCard else backCard"></div>
            <ng-template #frontCard>
                <div class="gameLogo">
                    <img lazy="loading" [src]="gamesData?.front_image" alt="" height="100%" width="100%">
                </div>
                <div *ngIf="gamesData?.enable_status==1;then  forActiveGames else forDeactivateGames"></div>
                <ng-template #forActiveGames>
                    <div class="playBtn" (click)="[openGame(gamesData)]">
                        <img src="assets/GameImages/qrgamewebsiteassets/PlayNow.png" alt="" height="100%" width="100%">
                    </div>
                </ng-template>
                <ng-template #forDeactivateGames>
                    <div class="playBtn" >
                        <img src="assets/GameImages/qrgamewebsiteassets/PlayNow.png" alt="" height="100%" width="100%">
                    </div>
                </ng-template>
    
                <div class="scoreBoardContainer d-flex gap-1 align-items-center">
                    <div class="scoreIcon">
                        <img lazy="loading" src="assets/GameImages/qrgamewebsiteassets/Scoreboard.png" alt="" height="100%"
                            width="100%">
                    </div>
                    <div class="scoreText" (click)="openCardById(gamesData?.id,gamesData?.isActive)">
                        Scoreboard
                    </div>
                </div>
            </ng-template>
            <ng-template #backCard>
                <div class="crossBtn" (click)="openFrontCard()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x"
                        viewBox="0 0 16 16">
                        <path
                            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                    </svg>
                </div>
                <div class="userName">
                    {{gamesData?.gameName}}
                </div>
                <div class="scoreContainer">
                    <div class="score">
                        <div>60</div>
                        <div class="scoreTextBtn">Coins</div>
                    </div>
                    <div class="score">
                        <div>200</div>
                        <div class="scoreTextBtn">Points</div>
                    </div>
                </div>
            </ng-template>
        </div>
    
    </div>
    <!-- Mobile view -->
    <div class="gamesCardMobile mobile-view">
        <div  [ngClass]="gamesData?.enable_status==1?'innerLayerMobile':'innerLayerDeactiveMobile'">
            <div *ngIf="isFrontView;then frontCardMobile else backCardMobile"></div>
    <ng-template #frontCardMobile>
        <div class="gameLogo">
            <img lazy="loading" [src]="gamesData?.front_image" alt="" height="100%" width="100%">
        </div>
        <div *ngIf="gamesData?.enable_status==1;then  forActiveGames else forDeactivateGames"></div>
        <ng-template #forActiveGames>
            <div class="playBtn" (click)="[openGame(gamesData)]">
                <img src="assets/GameImages/qrgamewebsiteassets/PlayNow.png" alt="" height="100%" width="100%">
            </div>
        </ng-template>
        <ng-template #forDeactivateGames>
            <div class="playBtn" data-bs-toggle="modal" data-bs-target="#comingSoonCardMobile">
                <img src="assets/GameImages/qrgamewebsiteassets/PlayNow.png" alt="" height="100%" width="100%">
            </div>
        </ng-template>
        <div class="scoreBoardContainer d-flex gap-1 align-items-center">
            <div class="scoreIcon">
                <img lazy="loading" src="assets/GameImages/qrgamewebsiteassets/Scoreboard.png" alt="" height="90%"
                    width="90%">
            </div>
            <div class="scoreText" (click)="openCardById(gamesData?.id,gamesData?.isActive)">
                Scoreboard
            </div>
        </div>
    </ng-template>
    <ng-template #backCardMobile>
        <div class="crossBtnMobile" (click)="openFrontCard()">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
              </svg>
        </div>
        <div class="userName">
            {{gamesData?.gameName}}
        </div>
        <div class="scoreContainer">
            <div class="score">
                <div>60</div>
                <div class="scoreTextBtn">Coins</div>
            </div>
            <div class="score">
                <div>200</div>
                <div class="scoreTextBtn">Points</div>
            </div>
        </div>
    </ng-template>
        </div>
        
    </div>



      
      <!-- Modal -->
      <div class="modal fade" id="comingSoonCard" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="background: transparent!important;">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="d-flex justify-content-end p-2">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
           
            
            <div class="modal-body ExcitementModal" >
               
                <img src="assets/GameImages/qrgamewebsiteassets/Coming Soon.png" alt="" height="100%" width="100%">
              
            </div>
            
          </div>
        </div>
      </div>

      <!-- Modal Mobile -->
      <div class="modal fade" id="comingSoonCardMobile" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="background: transparent!important;">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="d-flex justify-content-end p-2">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
           
            
            <div class="modal-body ExcitementModal" >
               
                <img src="assets/GameImages/qrgamewebsiteassets/Coming Soon.png" alt="" height="100%" width="100%">
              
            </div>
            
          </div>
        </div>
      </div>
    

