<!-- Car Racing -->
<div class="web-view GameHomecontainer ">
    <div class="row">
        <div class="profile_info col-12 p-2 d-flex align-items-center ps-2 pe-2">
            <div class="col-3 ">
                <span class="BigText">Hello! {{profileInfo?.Name}}</span>
                <!-- <h6 class="smallText">Welcome back to the N-GAGE</h6> -->
            </div>
            <div class="searchBar col-6">
                
                    <!-- <input type="text" placeholder="search here..." [(ngModel)]="searchGames"   (input)="search()"> -->
                   
                
            </div>
            <div class="col-3 d-flex align-items-center justify-content-end">
                <!-- <div class="profile_img">

                </div> -->
                <div class="logoBox">
                    <img lazy="loading" src="assets/GameImages/qrgamewebsiteassets/LogoIKS.png" alt="" height="100%" width="100%">
                </div>
              
                
            </div>
        </div>
       
    </div>
    <div class="row mt-2">
        <div class="col d-flex justify-content-between gap-2">
           
            <button type="button" class="col" (click)="openMiniGamesTab()" [ngClass]="{'navigateActive': isMiniGamesActive, 'naviGateBtn': !isMiniGamesActive}">MINI GAMES</button>
            <button type="button" class="col" (click)="openLeaderBoardTab()" [ngClass]="{'navigateActive': isLeaderBoardActive, 'naviGateBtn': !isLeaderBoardActive}">LEADERBOARD</button>
        </div>
    </div>
    <div *ngIf="isMiniGamesActive;then miniGames else LeaderBoard"></div>
    <ng-template #miniGames>
      
       <app-mini-games [searchData]="searchGames"></app-mini-games>
    </ng-template>
    <ng-template #LeaderBoard>
        <app-leader-board></app-leader-board>
    </ng-template>
    
</div>
<!-- Mobile View Started -->
<div class="mobile-view MobileGameHomeContainer">
    <div class="innerLayerMobile">
        <div class="row headerMobile">
            <div class="col-1" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                  </svg>
            </div>
            <div class="col-1"></div>
            
            
            <input type="text" class="mobile-searchBar col-9" placeholder="Search here...">
            <!-- <div class="searchIconMobile">
                <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                  </svg>
            </div> -->
            
        </div>
        <div *ngIf="isMiniGamesActive">
            <app-mini-games [searchData]="searchGames"></app-mini-games>
            
        </div>
        <div *ngIf="isLeaderBoardActive">
            <app-leader-board></app-leader-board>
        </div>
        <div class="leaderBoardNavigation">
            <div *ngIf="isLeaderBoardOptionAvailable" (click)="OpenSpecificGames()">
                <img lazy="loading" *ngIf="isSpecificGames" src="assets/GameImages/qrgamewebsiteassets/specificActive.png" alt=""  height="90px" width="90px">
                <img lazy="loading" *ngIf="!isSpecificGames" src="assets/GameImages/qrgamewebsiteassets/specificDeActive.png" alt=""  height="90px" width="90px">
            </div>
            <div (click)="openLeaderBoardOptions()" style="cursor: pointer;">
                <div *ngIf="isLeaderBoardOptionAvailable;then isAvailable else notAvailable"></div>
                <ng-template #notAvailable>
                    <img lazy="loading" src="assets/GameImages/qrgamewebsiteassets/leaderBoard.png" alt="" height="90px" width="90px">
                </ng-template>
                <ng-template #isAvailable>
                    <img lazy="loading" src="assets/GameImages/qrgamewebsiteassets/smallLeaderBoard.png" alt="" height="60px" width="60px">
                </ng-template>
            </div>
            <div *ngIf="isLeaderBoardOptionAvailable" (click)="openOverallGames()">
                <img *ngIf="isSpecificGames" src="assets/GameImages/qrgamewebsiteassets/overallDeactivate.png" alt=""  height="90px" width="90px">
                <img *ngIf="!isSpecificGames" src="assets/GameImages/qrgamewebsiteassets/OverallDeActive.png" alt=""  height="90px" width="90px">
            </div>
        </div>
    
        
    </div>
     
</div>

<!-- Sidebars -->
<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel" style="width: 70vw;">
    <div class="offcanvas-header d-flex align-items-center">
      <h3 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">&nbsp; Hello &nbsp;{{profileInfo?.Name}}</h3>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">

        <span (click)="logout()">Logout</span>
      
    </div>
  </div>
