<div class="leaderBoardContainer row gap-2 web-view">
 
    <div class='col-3'>
        <div class="input-group" (click)="openSpecificGames()">
            <select class="form-select" aria-label="Default select example" (change)="onGameSelectionChange($event)" [ngClass]="showSpecificGames ? 'subTabBtnActive' : 'subTabBtn'">
                <option  class="text-center" *ngFor="let gameList of GameCard"  [value]="gameList?.id_game">{{ gameList?.game_name }}</option>
            </select>
        </div>
    </div>
    <button class="subTabBtn col-3" [ngClass]="!showSpecificGames?'subTabBtnActive':'subTabBtn'" (click)='openOverallGames()'>Overall</button>
    <div class="leaderBoardBox">
        <div *ngIf="showSpecificGames;then SpecificGames else OverallGames"></div>
        <ng-template #SpecificGames>
            <div class="specificGamesLeaderBoardBox pt-5">
                <div class="row d-flex justify-content-center gap-2">
                    <div class="col-3" [ngClass]="isCoinsActive?'activeCoinsBtn':'CoinsBtn'" (click)="openCoinsLeaderboard()">
                            <div  style="cursor: pointer;" (click)="openEarnCoinsInfo()">
                                <svg  xmlns="http://www.w3.org/2000/svg"  width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                                  </svg>
                            </div>
                           
                        
                      
                    </div>
                    <div class="col-3" [ngClass]="!isCoinsActive?'activeOverallLeaderBoardBtn':'OverallLeaderBoardBtn'" (click)="openAssessmentLeaderboard() ">
                        <div  style="cursor: pointer;" (click)="openScorePointsInfo()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                              </svg>
                        </div>
                        
                        
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="tableHeader row">
                        <div class="col-1">Rank</div>
                        <div class="col-6 text-start">Player Name</div>
                        <div class="col-3 text-center">Location</div>
                        <div class="col-2 text-center">{{scoreTitle}}</div>
                    </div>
                </div>
                <div style="height: 40vh; overflow-y: auto;padding: 0%;">
                    <div *ngIf="isCoinsActive;then coins else Assesment"></div>
                 
                    <ng-template #coins>
                     
                        <div *ngIf="spacificGameLeaderBoardDataForCoins?.game_scores==null;then noDataAvail else availData "></div>
                        <ng-template #availData>
                            <div class="d-flex justify-content-center" *ngFor="let leaderBoardData of spacificGameLeaderBoardDataForCoins?.game_scores; let i = index">
                       
                                <div class="table-body row mt-2">
                                    <div class="TableRank col-1">
                                        <div class="GoldCoinImage playerName">
                                           {{leaderBoardData?.rank}}
                                        </div>
                                    </div>
                                    <div class="playerName col-6">
                                      
                                        {{leaderBoardData?.name}}
                                    </div>
                                    <div class="gameLogo col-3">
                                        <div class="InnerGameLogo">
                                            {{leaderBoardData?.city}}
                                        </div>
                                    </div>
                                    <div class="points col">
                                        <div class="coinPoints">
                                            <img lazy="loading" src="assets/GameImages/qrgamewebsiteassets/XPS.png" alt="coin" height="100%" width="100%">
                                        </div>
                                        <div class="pointsText">
                                            {{leaderBoardData?.total_xps}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template #noDataAvail>
                            <div class="noDataContainer">
                                <div class="noDataImg">
                                    <img src="assets/GameImages/qrgamewebsiteassets/noData.png" alt="" height="100%" width="100%">
                                </div>
                           
                            </div>
                        </ng-template>
                        
                    </ng-template>
                    <ng-template #Assesment>
                        <div *ngIf="spacificGameLeaderBoard?.leaderboard==null;then noDataAvail else AssesmentAvail"></div>
                        <ng-template #AssesmentAvail>
                            <div class="d-flex justify-content-center" *ngFor="let leaderBoardData of spacificGameLeaderBoard?.leaderboard ; let i = index">
                       
                                <div class="table-body row mt-2">
                                    <div class="TableRank col-1">
                                        <div class="GoldCoinImage playerName">
                                            {{leaderBoardData?.rank}}
                                        </div>
                                    </div>
                                    <div class="playerName col-6">
                                      
                                        {{leaderBoardData?.name}}
                                    </div>
                                    <div class="gameLogo col-3">
                                        <div class="InnerGameLogo">
                                            {{leaderBoardData?.city}}
                                        </div>
                                    </div>
                                    <div class="points col">
                                        <div class="coinPoints">
                                            <img lazy="loading" src="assets/GameImages/qrgamewebsiteassets/Coin Icon.png" alt="coin" height="100%" width="100%">
                                        </div>
                                        <div class="pointsText">
                                            {{leaderBoardData?.total_score}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template #noDataAvail>
                            <div class="noDataContainer">
                                <div class="noDataImg">
                                    <img src="assets/GameImages/qrgamewebsiteassets/noData.png" alt="" height="100%" width="100%">
                                </div>
                           
                            </div>
                        </ng-template>
                    </ng-template>
                   
                    
                </div>

            </div>
           
        </ng-template>
        <ng-template #OverallGames>
            <div class="specificGamesLeaderBoardBox pt-5">
                <div class="row d-flex justify-content-center gap-2">
                    <div class="col-3" [ngClass]="isCoinsActiveOverall?'activeCoinsBtn':'CoinsBtn'"  (click)="openOverallCoinsLeaderboard()">
                        <div style="cursor: pointer;" (click)="openEarnCoinsInfo()">
                            <svg xmlns="http://www.w3.org/2000/svg"   width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                              </svg>
                        </div>
                    </div>
                    <div class="col-3" [ngClass]="!isCoinsActiveOverall?'activeOverallLeaderBoardBtn':'OverallLeaderBoardBtn'"  (click)="openOverallAssessmentLeaderBoard()">
                        <div  style="cursor: pointer;" (click)="openScorePointsInfo()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                              </svg>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="tableHeader row">
                        <div class="col-1">Rank</div>
                        <div class="col-6 text-start">Player Name</div>
                        <div class="col-3 text-center">Location</div>
                        <div class="col-2 text-center">{{scoreTitle}}</div>
                    </div>
                </div>
                <div style="height: 40vh; overflow-y:auto;padding: 0%;">
                    <div *ngIf="isCoinsActiveOverall;then overallCoins else overallAssessment"></div>
                    <ng-template #overallAssessment>
                        <div *ngIf="overallGamesLeaderBoard?.leaderboard!=null;then dataAvailOverallAssesment else noDataAvail "></div>
                        <ng-template #dataAvailOverallAssesment>
                            <div class="d-flex justify-content-center" *ngFor="let leaderBoardData of overallGamesLeaderBoard?.leaderboard">
                                <div class="table-body row mt-2">
                                    <div class="TableRank col-1">
                                        <div class="GoldCoinImage playerName">
                                            {{leaderBoardData?.high_rank}}
                                        </div>
                                    </div>
                                    <div class="playerName col-6">
                                        {{leaderBoardData.name}}
                                    </div>
                                    <div class="gameLogo  col-3">
                                        <div class="InnerGameLogo">
                                           
                                            {{leaderBoardData?.city}}
                                        </div>
                                    </div>
                                    <div class="points col">
                                       <div class="coinPoints">
                                        <img src="assets/GameImages/qrgamewebsiteassets/Coin Icon.png" alt="coin" height="100%" width="100%">
                                       </div>
                                       <div class="pointsText">
                                            {{leaderBoardData?.total_score}}
                                       </div>
                                    </div>
            
                                </div>
                            </div>
                        </ng-template>
                        
                        <ng-template #noDataAvail>
                            <div class="noDataContainer">
                                <div class="noDataImg">
                                    <img src="assets/GameImages/qrgamewebsiteassets/noData.png" alt="" height="100%" width="100%">
                                </div>
                           
                            </div>
                        </ng-template>
                    </ng-template>
                    <ng-template #overallCoins>
                        <div *ngIf="overallGamesLeaderBoardForCoins?.overall_xps!=null;then availDataOverallCoins else noDataAvail "></div>
                        <ng-template #availDataOverallCoins>
                            <div class="d-flex justify-content-center" *ngFor="let leaderBoardData of overallGamesLeaderBoardForCoins?.overall_xps">
                                <div class="table-body row mt-2">
                                    <div class="TableRank col-1">
                                        <div class="GoldCoinImage playerName">
                                            {{leaderBoardData?.rank}}
                                        </div>
                                    </div>
                                    <div class="playerName col-6">
                                        {{leaderBoardData?.name}}
                                    </div>
                                    <div class="gameLogo  col-3">
                                        <div class="InnerGameLogo">
                                           
                                            {{leaderBoardData?.city}}
                                        </div>
                                    </div>
                                    <div class="points col">
                                       <div class="coinPoints">
                                        <img src="assets/GameImages/qrgamewebsiteassets/XPS.png" alt="coin" height="100%" width="100%">
                                       </div>
                                       <div class="pointsText">
                                            {{leaderBoardData?.overall_xps}}
                                       </div>
                                    </div>
            
                                </div>
                            </div>
                        </ng-template>
                        <ng-template #noDataAvail>
                            <div class="noDataContainer">
                                <div class="noDataImg">
                                    <img src="assets/GameImages/qrgamewebsiteassets/noData.png" alt="" height="100%" width="100%">
                                </div>
                           
                            </div>
                        </ng-template>
                       

                    </ng-template>
                </div>
            </div>
        </ng-template>
        
    </div>
</div>
<!-- Mobile View -->
<div class="mobile-view">
    <div class="gameListMobile" >
        <div *ngFor="let gameList of GameCard;let i=index" >
            <div *ngIf="this.auth.isSpecficGamesOpen" class="gameListTabMobile" (click)="selectGameForMobile(gameList,i)" [ngClass]="i===gameActiveIndex?'gameListTabMobileActive':'gameListTabMobile'">
                <img [src]="gameList?.front_image" alt="frontImage" height="80%" width="80%">

            </div>
        </div>
        

    </div>
    <div class="leaderBoardBoxMobile">
        <div *ngIf="this.auth.isSpecficGamesOpen;then forSpecificGameMobile else forOverallGameMobile "></div>
        <ng-template #forSpecificGameMobile>
            <div class="coinsContainer" >
                <div  class="CoinsBtnMobile"  >
                    <div  style="cursor: pointer;" (click)="openEarnCoinsInfo()">
                        <svg xmlns="http://www.w3.org/2000/svg" 
                       width="10" height="10" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                            <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                          </svg>
                    </div>
                </div>
                <div class="d-flex flex-column align-items-center justify-content-center">
                    <div class="tableHeaderMobile row">
                        <div class="col-2">Rank</div>
                        <div class="col-4">Player Name</div>
                        <div class="col-3">Location</div>
                        <div class="col-2">Coins</div>
                    </div>
                    <div style="height: 25vh;overflow-y: auto;">
                        <div *ngIf="spacificGameLeaderBoardDataForCoins?.game_scores!=null;then availMobileDataForCoins else noDataAvailMobile"></div>
                        <ng-template #availMobileDataForCoins>
                            <div class="d-flex justify-content-center" *ngFor="let leaderBoardData of spacificGameLeaderBoardDataForCoins?.game_scores; let i = index">
                           
                                <div class="table-body-mobile">
                                    <div class="TableRankMobile col-2">
                                        <div class="playerNameMobile">
                                            {{leaderBoardData?.rank}}
                                        </div>
                                    </div>
                                    <div class="playerNameMobile col-5">
                                        {{leaderBoardData?.name}}
                                    </div>
                                    <div class="gameLogoMobile ">
                                        <div class="InnerGameLogoMobile">
                                           
                                            {{leaderBoardData?.city}}
                                        </div>
                                    </div>
                                    <div class="pointsMobile col-2">
                                       <div class="coinPointsMobile">
                                        <img  src="assets/GameImages/qrgamewebsiteassets/XPS.png" alt="coin" height="100%" width="100%">
                                       </div>
                                       <div class="pointsTextMobile">
                                            {{leaderBoardData?.total_xps}}
                                       </div>
                                    </div>
            
                                </div>
                            </div>
                        </ng-template>
                        
                            <ng-template #noDataAvailMobile>
                                <div class="noDataContainerMobile">
                                    <div class="noDataImgMobile">
                                        <img src="assets/GameImages/qrgamewebsiteassets/noData.png" alt="" height="100%" width="100%">
                                    </div>
                               
                                </div>
                            </ng-template>
                        
                      
                    </div>
                   
                </div>
        
            </div>
            <div class="coinsContainer" style="margin-top: 2vh!important;">
                <div  class="AssesmentBtnMobile">
                    <div  style="cursor: pointer;" (click)="openScorePointsInfo()">
                        <svg xmlns="http://www.w3.org/2000/svg"   width="10" height="10" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                            <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                          </svg>
                    </div>
        
                </div>
                <div class="d-flex flex-column align-items-center justify-content-center">
                    <div class="tableHeaderMobile row">
                        <div class="col-2">Rank</div>
                        <div class="col-4">Player Name</div>
                        <div class="col-3">Location</div>
                        <div class="col-2">Points</div>
        
                    </div>
                    <div style="height: 25vh;overflow-y: auto;">
                        <div *ngIf="spacificGameLeaderBoard?.leaderboard!=null;then availAssesmentDataMobile else noDataAvailMobile"></div>
                        <ng-template #availAssesmentDataMobile>
                            <div class="d-flex justify-content-center"  *ngFor="let leaderBoardData of spacificGameLeaderBoard?.leaderboard;let i = index">
                                <div class="table-body-mobile">
                                 
                                    <div class="TableRankMobile col-2">
                                        
                                        <div class="GoldCoinImageMobile playerNameMobile">
                                            {{leaderBoardData?.rank}}
                                            <!-- <img [src]="leaderBoardData?.rankImageSrc" alt="" height="100%" width="100%"> -->
                                        </div>
                                    </div>
                                    <div class="playerNameMobile col-5">
                                        {{leaderBoardData?.name}}
                                    </div>
                                    <div class="gameLogoMobile">
                                        <div class="InnerGameLogoMobile">
                                            {{leaderBoardData?.city}}
                                        </div>
                                    </div>
                                    <div class="pointsMobile col-2">
                                       <div class="coinPointsMobile">
                                        <img src="assets/GameImages/qrgamewebsiteassets/Coin Icon.png" alt="coin" height="100%" width="100%">
                                       </div>
                                       <div class="pointsTextMobile">
                                        {{leaderBoardData?.total_score}}
                                       </div>
                                    </div>
            
                                </div>
                            </div>
                        </ng-template>
                       
                        <ng-template #noDataAvailMobile>
                            <div class="noDataContainerMobile">
                                <div class="noDataImgMobile">
                                    <img src="assets/GameImages/qrgamewebsiteassets/noData.png" alt="" height="100%" width="100%">
                                </div>
                           
                            </div>
                        </ng-template>
                    </div>
                    
                </div>
        
            </div>
        </ng-template>
        <ng-template #forOverallGameMobile>
            <div class="coinsContainer" >
                <div  class="CoinsBtnMobile">
                    <div style="cursor: pointer;" (click)="openEarnCoinsInfo()">
                        <svg xmlns="http://www.w3.org/2000/svg"   width="10" height="10" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                            <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                          </svg>
                    </div>
                </div>
                <div class="d-flex flex-column align-items-center justify-content-center">
                    <div class="tableHeaderMobile row">
                        <div class="col-2">Rank</div>
                        <div class="col-4">Player Name</div>
                        <div class="col-3">Location</div>
                        <div class="col-2">Coins</div>
                    </div>
                    <div style="height: 25vh;overflow-y: auto;">
                        <div class="d-flex justify-content-center" *ngFor="let leaderBoardData of overallGamesLeaderBoardForCoins?.overall_xps; let i = index">
                           
                            <div class="table-body-mobile">
                                <div class="TableRankMobile col-2">
                                    <div class="playerNameMobile">
                                        {{leaderBoardData?.rank}}
                                    </div>
                                </div>
                                <div class="playerNameMobile col-5">
                                    {{leaderBoardData?.name}}
                                </div>
                                <div class="gameLogoMobile ">
                                    <div class="InnerGameLogoMobile">
                                       
                                        {{leaderBoardData?.city}}
                                    </div>
                                </div>
                                <div class="pointsMobile col-2">
                                   <div class="coinPointsMobile">
                                    <img  src="assets/GameImages/qrgamewebsiteassets/XPS.png" alt="coin" height="100%" width="100%">
                                   </div>
                                   <div class="pointsTextMobile">
                                        {{leaderBoardData?.overall_xps}}
                                   </div>
                                </div>
        
                            </div>
                        </div>
                    </div>
                   
                </div>
        
            </div>
            <div class="coinsContainer" style="margin-top: 2vh!important;">
                <div  class="AssesmentBtnMobile">
                    <div  style="cursor: pointer;" (click)="openScorePointsInfo()">
                        <svg xmlns="http://www.w3.org/2000/svg"  width="10" height="10" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                            <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                          </svg>
                    </div>
                </div>
                <div class="d-flex flex-column align-items-center justify-content-center">
                    <div class="tableHeaderMobile row">
                        <div class="col-2">Rank</div>
                        <div class="col-4">Player Name</div>
                        <div class="col-3">Location</div>
                        <div class="col-2">Points</div>
        
                    </div>
                    <div style="height: 25vh;overflow-y: auto;">
                        
                        <div class="d-flex justify-content-center"  *ngFor="let leaderBoardData of  overallGamesLeaderBoard?.leaderboard;let i = index">
                            <div class="table-body-mobile">
                             
                                <div class="TableRankMobile col-2">
                                    
                                    <div class="GoldCoinImageMobile playerNameMobile">
                                        {{leaderBoardData?.high_rank}}
                                        <!-- <img [src]="leaderBoardData?.rankImageSrc" alt="" height="100%" width="100%"> -->
                                    </div>
                                </div>
                                <div class="playerNameMobile col-5">
                                    {{leaderBoardData?.name}}
                                </div>
                                <div class="gameLogoMobile ">
                                    <div class="InnerGameLogoMobile">
                                        {{leaderBoardData?.city}}
                                    </div>
                                </div>
                                <div class="pointsMobile col-2">
                                   <div class="coinPointsMobile">
                                    <img src="assets/GameImages/qrgamewebsiteassets/Coin Icon.png" alt="coin" height="100%" width="100%">
                                   </div>
                                   <div class="pointsTextMobile">
                                    {{leaderBoardData?.total_score}}
                                   </div>
                                </div>
        
                            </div>
                        </div>
                    </div>
                    
                </div>
        
            </div>
        </ng-template>
        
       
    </div>
   



</div>