.ExcitementModal{
    // background: url(../../../assets/GameImages/qrgamewebsiteassets/Coming\ Soon.png);
    background: transparent;
    background-size: 100% 100%;
    background-position: center center;
    height: 100px;
    width: 100%;
    
}